[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = v3_req

[dn]
C=BR
ST=SP
L=Campinas
O=VaccineTransport
OU=IoT-Broker
CN=10.0.0.175

[v3_req]
subjectAltName = @alt_names

[alt_names]
IP.1 = 10.0.0.175
IP.2 = 127.0.0.1
DNS.1 = localhost
